@{
    ViewData["Title"] = "Informacion del Sistema";

    ViewBag.Nombre = "Juan David Martinez Gonzalez";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="mb-2">
        <p><b>Desarrollo de prueba tecnica Delphi-Kactus</b></p>
    </div>
    <hr />
    <div class="mb-2">
        Nombre del Desarrollador: @ViewBag.Nombre
    </div>
    <div class="mb-2">
        Redes Sociales: <a href="https://www.linkedin.com/in/juandmartinezgonzalez/" >linkedin</a>
    </div>
    <div class="mb-2">
        Documentación: <a href="https://1drv.ms/w/s!AtJf2ovI41LNp3VHJ_uR9fOZnN6g?e=p56x4r">Documentación Proyecto</a>
    </div>
</div>
