USE [master]
GO
/****** Object:  Database [KACTUS]    Script Date: 22/07/2023 2:20:00 p. m. ******/
CREATE DATABASE [KACTUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KACTUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERDEV\MSSQL\DATA\KACTUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KACTUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERDEV\MSSQL\DATA\KACTUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KACTUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KACTUS]
GO
/****** Object:  Table [dbo].[CABEZA_FACTURA]    Script Date: 22/07/2023 2:20:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CABEZA_FACTURA](
	[IDNumeroFac] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[IDCliente] [int] NULL,
	[TOTAL] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNumeroFac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 22/07/2023 2:20:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 22/07/2023 2:20:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[IDDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDNumeroFac] [int] NULL,
	[IDProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[Valor] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 22/07/2023 2:20:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Producto] [varchar](200) NULL,
	[Valor] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CABEZA_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_CABEZA_FACTURA_CLIENTES] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[CLIENTES] ([IDCliente])
GO
ALTER TABLE [dbo].[CABEZA_FACTURA] CHECK CONSTRAINT [FK_CABEZA_FACTURA_CLIENTES]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_CABEZA_FACTURA] FOREIGN KEY([IDNumeroFac])
REFERENCES [dbo].[CABEZA_FACTURA] ([IDNumeroFac])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_CABEZA_FACTURA]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[PRODUCTO] ([IDProducto])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO]
GO
USE [master]
GO
